.hr-dash-intro {
    background-image: url('../images/welcomebg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hr-dash-titles {
    font-size: 16px;
}

.barChart{
    position: relative;
    margin: auto;
    height: 50vh;
}

.donutChart{
    &-details {
        span{
            display: inline-block;
            width: 1rem;
            height: 1rem;
            border-radius: 100%;
        }

        & .option-1{
            background-color: $primary-light;
        }
        & .option-2{
            background-color: $primary-light--1;
        }
    }
}