.hr-dash-intro {
    background-image: url('../images/welcomebg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hr-dash-titles {
    font-size: 16px;
}