.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
}
.modal-footer {
    border-top: none;
}

.hr-widdle {
    width: 343px;
    margin: 0 auto;
}

.hr-history-title{
    font-size: 18px;
}

.hr-history-title-decription {
    font-size: 16px;
}

.hr-history-title-link {
    font-size: 14px;
}