.card {
    background-color: $white;
    border-radius: 8px;
    border: 0;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.08);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
    text-decoration: none;

    &:hover{
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgaba(0,0,0,.08);
    }

    &-img-top{
        width: 50%; // Required because we use flexbox and this inherently applies align-self: stretch
    }

    &-title {
        color: $secondary
    }

    &-text,
    &-footer{
        font-size: 0.875rem;
        color: $dark;
    }

    &-footer{
        background: none;
    }

}