.nav-tabs {
    border-bottom: $nav-tabs-border-width solid $dark;
  
    .nav-link {
      margin-bottom: -2px;
      background: none;
      border: 0;
  
        &:hover,
        &:focus {
            border-bottom: 2px solid $primary;
        }

    }

    .breadcrumb-item.active{
        color: $primary;
    }
  
}