.oraganogram-cont{
     display: flex;
     flex-direction: column;
     height: 180px;
     width: 100px;
     // border: 1px solid #c4c4c4;
}
.oraganogram-img{
     width: 100%;
     height: 100px;
     // border-bottom: 1px solid #c4c4c4;
}
.oraganogram-info{
     width: 100%;
     height: 60px;
     margin-top: 10px;
}
.oraganogram-list-text{
     font-size: 12px;
}
.oraganogram-list{
     list-style: none;
     text-align: left;
     padding: 0 5px;
     // font-size: 12px;
}
.color{
      background-color: grey;
      padding: 0 5px;
      height: 20px;
      display: flex;
      align-items: center;
}