<<<<<<< HEAD
=======

>>>>>>> 3582ade815f0db8e5f513b8a678601b66cea721e
.input-icon{
    position: relative;

    & i{
        position: absolute;
        padding: .5rem;
    }

    & .form-control{
        padding-left: 1.8rem;
    }
}

<<<<<<< HEAD
=======

>>>>>>> 3582ade815f0db8e5f513b8a678601b66cea721e
