.nav-tabs {

    .nav-link {
        color: $gray-500;
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
        padding-left: 3rem;
        padding-right: 3rem;
    
        &:hover,
        &:focus {
            color: $primary;
        }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
        color: $primary;
        border-bottom: 2px solid $primary;
        margin-bottom: -$nav-tabs-border-width
    }
}