.body{
    font-family:  'Open sans', sans-serif;
}

p{
    font-size: 1rem;
    color: $gray-700;
}

h1,h2,
.h1,.h2{
    font-weight: 700;
    color: $primary;
}
h3,h4,h5,
.h3,.h4,.h5{
    font-weight: 600;
    color: $primary;
}

a{
    &:hover{
        text-decoration: none;
    }
}