.hr-dash-intro {
    background-image: url('../images/welcomebg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

// .hr-dash-card {
//     background-image: url('../images/bluebg.svg');
//     background-size: cover;
//     background-position: center;
// }