.img {
    height: 88%; 
    background-image: url('../images/Group 8.svg'); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: contain;
}

.main {
    position: relative;
    left: 70px;
}
